.box{
    background-color: aqua ;
    height: 300px;
    width: 300px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
p{
    text-align: justify;

}
img{
    height: 300px;
    float: right;
}