/* A: this is sudo class a::this is hover class */
a:hover{
    color: yellow;
}
a:active{
    color: rgb(255, 0, 0);
}
a:visited{
    color: aqua;
}
li:first-child{
    color: brown;
}
li:last-child{
    color: rgb(233, 3, 3);
}
li:nth-child(2n+1){ /* 2n , odd, 2n+1 ,even   */
    color: brown;
}
body::after{
    content: "This is sudo element";
}
p::selection{
    background-color: rgb(76, 176, 71);
    color: white;
}
img{
    opacity: 0.5;
}