h1:nth-child(1){
    text-shadow: 2px 2px;
}
h1:nth-child(2){
    text-shadow: 2px 2px red;
}
h1:nth-child(3){
    text-shadow: 2px 2px 5px red;
}
h1:nth-child(4){
    text-shadow: 2px 2px 4px red, -2px -2px 4px green;
}

.box{
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: auto;
    box-shadow: 10px 10px 25px green, -10px -10px 20px  blue ;
}
.card{
    width: 250px;
    margin: auto;
    text-shadow: 0 4px 0 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.header{
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 40px;
}
.text{
    text-shadow: none;
}
#card{
    width: 250px;
    margin: auto;
    text-shadow: 0 4px 0 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#header img{
    width: 100%;
    height: auto;
}
#text{
    padding: 10px;
    font-size: 20px;
    text-shadow: 4px 3px 5px blue;
}
p{
    width: 200px;
    border: 2px solid black;
    overflow: ellipsis;
    white-space: nowrap;
}
.head1{
    writing-mode: horizontal-tb;
}
.head2{
    writing-mode: vertical-lr;
}